* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pics {
    background-image: url('IMG-20210921-WA0020.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.pics .logo img {
    height: 70px;
    width: 120px;
    margin: 2rem 0 0 .5rem;
}
.text {
    padding-bottom: 1rem;
}
.text .support {
    font-family: 'Courier New', Courier, monospace;
    color: darkred;    
    background-color: whitesmoke;
    width: fit-content;
    font-style: italic; 
    margin: 0 0 0 0;
}

.text .eng, .bolu, .faj {
    text-align: center;
    color: black;
}

.text .eng {
    padding-top: 1rem;
}

.text .eng, .bolu {
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    
}

.text .faj {
    font-size: 2.2rem;
    padding-bottom: 1rem;
    font-family: 'Playfair Display', serif;
}

.text .chair {
    background-color: darkred;
    font-family: 'Playfair Display', serif;
}

.text .progress {
    font-style: italic;
    text-align: right;
    color: greenyellow;
    background-color: dimgray;
    width: fit-content;
    margin-top: 1rem;

}



